body.dark {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f110;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: #787e80;
    border-radius: 20px;
    border: 6px solid transparent;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8bbbf;
}