.welcome_card {
    padding-top: 20vh;
    padding-bottom: 15vh;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.name {
    font-size: 7vw;
    padding-bottom: 25px;
}

.blink_me {
    animation: blinker 1s linear infinite;
    font-weight: 100;
}

.desc {
    font-size: 2.5vw;
    font-weight: 600;
}

.second_line {
    font-size: 2vw;
    font-weight: 500;
}

.darkmode_butt {
    font-weight: 600;
    transition: font-size 0.5s;
}

.darkmode_butt:hover, .darkmode_butt:active {
    cursor: pointer;
    font-weight: 900;
    font-size: 2.1vw;
}

.glow {
    animation: glow 2.5s linear infinite;
}

@keyframes glow {
    50%  {opacity: 0.5; color: rgb(3, 160, 98);}
  }

@keyframes blinker {
    49% {opacity: 1;}
    50%  {opacity: 0;}
    99% {opacity: 0;}
}


@media screen and (max-width: 768px) {
    .welcome_card {
        padding-top: 16vh;
    }
    
    .name {
        font-size: 8.5vw;
    }
    
    .desc {
        font-size: 4vw;
    }

    .second_line {
        font-size: 3vw;
    }

    .darkmode_butt:hover, .darkmode_butt:active {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 425px) {
    .welcome_card {
        padding-top: 20vh;
    }
    
    .name {
        font-size: 10vw;
    }
    
    .desc {
        font-size: 6vw;
    }

    .second_line {
        font-size: 3.8vw;
    }

    .darkmode_butt:hover, .darkmode_butt:active {
        font-size: 4.2vw;
    }
}